/*

    CSS root

*/

:root{

    /* color */
    --first-color: #883737;
    --secondary-color: #883737;
    --shadow-color: 0deg 0% 58%;

    /* typography */
    --fs-1: 38px;
    --fs-2: 35px;
    --fs-3: 30px;
    --fs-4: 22px;
    --fs-5: 20px;
    --fs-6: 15px;

    /* Font Weight */
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-9: 900;

    /* Spacing */
    --px: 15px;
    --py: 80px;

    /* transition */
    /* default Transition */
    
    --shadow-medium: 2px 4px 8px hsl(var(--shadow-color) / 0.5);
}