//Theme

body.dark-theme{
    //theme code
}

//Button Dark Light
.change-theme {
    position: absolute;
    right: 1.5rem;
    top: 2.2rem;
    color: var(--title-color);
    font-size: 1.8rem;
    cursor: pointer;
}

.dark-theme .footer{
    
}