.center{
    text-align: center;
    font-size: 1cm;
}

/* Absolute Units */
.centimeters{
    font-size: 1cm;
}

.millimeters{
    font-size: 1mm;
}

.quarter-millimeters{
    font-size: 1Q;
}

.inches{
    font-size: 1in;
}

.picas{
    font-size: 1pc;
}

.points{
    font-size: 1pt;
}

.pixels{
    font-size: 1px;
}

/* Relative Units */
.percentage{
 font-size: 1%;
}

.em{
 font-size: 1em;
}

.rem{
 font-size: 1rem;
}

.ch{
 font-size: 1ch;
}

.vh{
 font-size: 1vh;
}

.vmin{
 font-size: 1vmin;
}

.vmax{
 font-size: 1vmax;    
}

/* Relative Units */
.vw{
    font-size: 1vw;
}

.vh{
    font-size: 1vh;
}

/* Angle Units */
.deg{
    transform: rotate(3deg);
}