body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

ul{
    list-style: none;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li{
    font-size: 28px;
    font-family: Poppins;
    color: rgb(0, 68, 45);
    padding: 4px 20px;
    margin: 10px 0;
    background-color: lightpink;
    border: 1px solid black;
    cursor: pointer;
}

/* Pseudo Element*/
li::before{
    content: ">";
    position: absolute;
    left: 10px;
}

li:nth-child(3){
    background: linear-gradient(45deg, hsl(280 80% 40%), hsl(310 80% 50%));
}